$primary : #FF6800;
$secondary : #FF8C42;
$accent : #FFA155;

//background & surfaces
$ola-bg : #1E1E2F; //app background
$ola-container : #2C2C3C; //card, sidebar,toolbar
$ola-acc : #333344; //Accordion, table row header

//Text & Icons
$text-light : #F0F0F0; 
$text-secondary : #A0A0A0; //muted or secondary
$icon : #FF6B00;

//Status 
$success : #3DD598;
$danger : #F85C50;
$info : #A0A0FF;
$disabled : #555566;

