<mat-toolbar class="nav shadow">
    <button mat-icon-button aria-label="Menu" (click)="onMenuClick()">
        <mat-icon>menu</mat-icon>
    </button>
    <span>VLC</span>
    <span class="example-spacer"></span>
    <button mat-icon-button aria-label="Favorite">
        <mat-icon>favorite</mat-icon>
    </button>
    <button mat-icon-button aria-label="Share">
        <mat-icon>share</mat-icon>
    </button>
    <button mat-icon-button (click)="onLogout()" aria-label="Logout">
        <mat-icon>logout</mat-icon>
    </button>
</mat-toolbar>