/* Center page with gradient background */
.login-container-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(-45deg, #8e44ad, #9b59b6, #6c5ce7, #a29bfe);
    background-size: 400% 400%;
    animation: gradientBackground 15s ease infinite;
    width: 100%;
    
  }
  
  /* Centered card-like login form */
  .login-container {
    width: 100%;
    max-width: 700px;
    padding: 32px;
    background: white;
    border-radius: 12px;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
  }
  
  @keyframes gradientBackground {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  
  .example-container mat-form-field + mat-form-field {
    margin-left: 8px;
  }
  
  .example-right-align {
    text-align: right;
  }
  
  input.example-right-align::-webkit-outer-spin-button,
  input.example-right-align::-webkit-inner-spin-button {
    display: none;
  }
  
  input.example-right-align {
    -moz-appearance: textfield;
  }