$primary : #FF6B00; //primary action color
$secondary : #FF8C42; //hover or secondary action
$accent : #FFA155; //soft accents(charts, highlights)


//Backgrounds
$appbackground : #1E1E2F; //app background
$card : #2c2c3c; // Card/sidebar/toolbars
$accor : #333344; //Accordion/tables
$hover : #444455;

//text & icons
$text-primary : #F0F0F0;
$text-muted : #A0A0A0;
$text-icon : #FF6B00;


//status colors 
$success : #3DD598;
$error : #F85C60;
$info : #A0A0FF;
$disabled : #555566;

//borders-dividers
$dividers : #3A3A4A;

